*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
}
.register-form{
    background-color: palevioletred;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px olive;
}
.register-form label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}
h1{
    text-align: center;
}
.register-form input{
    width: 100%;
    padding: 10px;
    margin-top: 2px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.register-form button{
    margin-top: 5px;
    width: 100%;
    padding: 12px;
    background-color: green;
    color: white;
    font-size: 25px;
    border-radius: 8px;
}
.register-form button:hover{
    color: chartreuse;
}


 